<!-- afficher des composants dynamiques -->
<header class="fixed-top">
  <span class="icons">
    <app-icon-close *ngIf="open" (click)="onClick()"></app-icon-close>
    <app-icon-nav *ngIf="!open" (click)="onClick()"></app-icon-nav>
  </span>
  <app-header></app-header>
</header>

<main [ngClass]="{ 'close-aside': !open }">
  <div class="shadow position-fixed"></div>
  <!-- ICI LE MENU -->
  <aside>
    <div class="scroller">
      <app-nav></app-nav>
    </div>
  </aside>

  <!-- ICI LA PARTIE CENTRALE DE LA PAGE -->
  <div class="page">
    <div class="contents"><router-outlet></router-outlet></div>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</main>
